# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/
.next/
out/

# Cache & Temporary Files
.cache/
.parcel-cache/
.tmp/
temp/

# misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*